[submodule "PartialZip"]
	path = Utility/PartialZip
	url = https://github.com/BuIlDaLiBlE/PartialZip
	branch = master
[submodule "Hi3Helper.Http"]
	path = Hi3Helper.Http
	url = https://github.com/CollapseLauncher/Hi3Helper.Http
[submodule "Hi3Helper.Sophon"]
	path = Hi3Helper.Sophon
	url = https://github.com/CollapseLauncher/Hi3Helper.Sophon
